<div class="main">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}
    </h1>
  </div>

  <div>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href=""
                (click)="toggleCardDisplay(); $event.preventDefault()">About</a></li>
            <li class="nav-item"><a class="nav-link" href="" (click)="displayVersion()">Version</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/create">+List</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" (click)="displayList()">Lists</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/login">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div *ngIf="showCard" class="card col-sm-6 mt-5">
      <div class="card-body">
        <h5 class="card-title text-center fw-bold mb-4">Milestone 4: Angular Application</h5>
        <p class="card-text text-center">Bradley Austin</p>
        <p class="card-text text-center">Grand Canyon University</p>
        <p class="card-text text-center">CST-391 – JavaScript Web Application Development</p>
        <p class="card-text text-center">Professor Dinesh Gudibandi</p>
        <p class="card-text text-center">11/12/2023</p>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
